h1.page-header{
    color: rgb(48, 79, 112);
    margin-top: 10px;
    font-size: 90px;
    text-align: center;
}

/* h1.fish-name{
    font-size: 40px;
    color: rgb(48, 79, 112);
    padding: 10px;
} */

div.fishContainer{
    display: flex;
    border: 3px solid black;
    background-color: rgb(171, 195, 225);
    width: fit-content;
    padding: 10px;
    font-size: 40px;
}

/* .fish-name > p{
    font-style: 90px black;
} */

div.fishContainer img{
    max-width: 50%;
    height: auto;
    padding: 30px;
}

.fish-quotes{
    padding: 10px;
    font-size: 40px;
}

.fish-locations{
    padding: 10px;
    font-size: 40px;
}

.sidebar{
    display: flex;
    font-size: 40px;
    border: 3px solid black;
    background-color: rgb(171, 195, 225);
    padding: 30px;
}

.flexing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}